@import "tailwindcss";

@theme {
  --color-simple: #e17654;
  --color-rugged: #115e59;
  --color-luxury: #161616;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff7ed;
  font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100%;
}

div#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
